<ion-content>
	<ion-slides>
		<ion-slide slide1>
			<ion-item lines="none" toolbar>
				<ion-icon color="primary" slot="start" src="../../../assets/icons/chevron-left-solid.svg" routerLink="/intro"></ion-icon>
			</ion-item>
			<ion-grid>
				<ion-row>
					<ion-col size="4" push="4">
						<ion-img src="../../../assets/img/logo.svg"></ion-img>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="6.5" push="2.75">
						<ion-text color="primary">
							<p>Junte-se a nós! Como deseja continuar?</p>
						</ion-text>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-button color="primary" size="block" (click)="goToLogin()">
							<ion-ripple-effect></ion-ripple-effect>
							<ion-grid>
								<ion-row>
									<ion-col size="1" align-self-center>
										<ion-icon src="../../../assets/icons/envelope-square-solid.svg" color="white"></ion-icon>
									</ion-col>
									<ion-col align-self-center size="10">
										E-mail
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-button color="facebook" size="block" disabled>
							<ion-ripple-effect></ion-ripple-effect>
							<ion-grid>
								<ion-row>
									<ion-col size="1" align-self-center>
										<ion-icon src="../../../assets/icons/facebook-square-brands.svg" color="white"></ion-icon>
									</ion-col>
									<ion-col align-self-center size="10">
										Facebook
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-button color="googleplus" size="block" disabled>
							<ion-ripple-effect></ion-ripple-effect>
							<ion-grid>
								<ion-row>
									<ion-col size="1" align-self-center>
										<ion-icon src="../../../assets/icons/google-plus-square-brands.svg" color="white"></ion-icon>
									</ion-col>
									<ion-col align-self-center size="10">
										Google
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-button color="twitter" size="block" disabled>
							<ion-ripple-effect></ion-ripple-effect>
							<ion-grid>
								<ion-row>
									<ion-col size="1" align-self-center>
										<ion-icon src="../../../assets/icons/twitter-square-brands.svg" color="white"></ion-icon>
									</ion-col>
									<ion-col align-self-center size="10">
										Twitter
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>

		<ion-slide slide2>
			<ion-item lines="none" toolbar color="primary">
				<ion-icon color="white" slot="start" src="../../../assets/icons/chevron-left-solid.svg" (click)="return()"></ion-icon>
				<ion-label>
					<ion-text color="white">
						Registrar
					</ion-text>
				</ion-label>
			</ion-item>
			<ion-grid>
				<form [formGroup]="signUpForm">

					<!-- NOME -->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.name.valid && signUpForm.controls.name.dirty" [class.valid]="signUpForm.controls.name.valid && signUpForm.controls.name.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>Nome Completo</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="name" type="text"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="!signUpForm.controls.name.valid && signUpForm.controls.name.dirty">
						<ion-col>
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um nome.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- E-MAIL -->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty" [class.valid]="signUpForm.controls.email.valid && signUpForm.controls.email.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>E-mail</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="email" type="email"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty">
						<ion-col>
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um e-mail válido.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- SENHA -->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty" [class.valid]="signUpForm.controls.password.valid && signUpForm.controls.password.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>Senha</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="password" type="password"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty">
						<ion-col>
							<ion-item lines="none">
								<p class="invalidmessage">A senha deve ter no mínimo 6 caracteres.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- CPF E TELEFONE-->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.cpf.valid && signUpForm.controls.cpf.dirty" [class.valid]="signUpForm.controls.cpf.valid && signUpForm.controls.cpf.dirty">								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>CPF</h3>
									</ion-text>
								</ion-label>
								<ion-input formControlName="cpf" type="text" [brmasker]="{mask: '000.000.000-00', type:'num'}"></ion-input>
							</ion-item>
						</ion-col>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.phone.valid && signUpForm.controls.phone.dirty" [class.valid]="signUpForm.controls.phone.valid && signUpForm.controls.phone.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>Telefone</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="phone" type="phone" [brmasker]="{phone: true}"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="(!signUpForm.controls.cpf.valid && signUpForm.controls.cpf.dirty) || (!signUpForm.controls.phone.valid && signUpForm.controls.phone.dirty)">
						<ion-col *ngIf="!signUpForm.controls.cpf.valid && signUpForm.controls.cpf.dirty">
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um CPF válido.</p>
							</ion-item>
						</ion-col>
						<ion-col *ngIf="!signUpForm.controls.phone.valid && signUpForm.controls.cpf.valid && signUpForm.controls.phone.dirty" push="6.5" size="5.5">
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um telefone válido.</p>
							</ion-item>
						</ion-col>
						<ion-col *ngIf="!signUpForm.controls.phone.valid && !signUpForm.controls.cpf.valid && signUpForm.controls.phone.dirty">
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um telefone válido.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- DATA DE NASCIMENTO -->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.birthdate.valid && signUpForm.controls.birthdate.dirty" [class.valid]="signUpForm.controls.birthdate.valid && signUpForm.controls.birthdate.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>Data de Nascimento</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="birthdate" type="date" [brmasker]="{mask: '0000-00-00'}"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="!signUpForm.controls.birthdate.valid && signUpForm.controls.birthdate.dirty">
						<ion-col>
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira uma data de nascimento válida.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- DATA DE NASCIMENTO -->
					<ion-row>
						<ion-col>
							<ion-item [class.invalid]="!signUpForm.controls.zip.valid && signUpForm.controls.zip.dirty" [class.valid]="signUpForm.controls.zip.valid && signUpForm.controls.zip.dirty">
								<ion-label position="stacked">
									<ion-text color="primary">
										<h3>CEP</h3>
									</ion-text>
								</ion-label>
								<ion-input required formControlName="zip" type="text" [brmasker]="{mask: '00.000-000'}"></ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="!signUpForm.controls.zip.valid && signUpForm.controls.zip.dirty">
						<ion-col>
							<ion-item lines="none">
								<p class="invalidmessage">Por favor, insira um CEP válido.</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<ion-row padding-top>
						<ion-col>
							<ion-button size="block" color="primary" [disabled]="!signUpForm.valid" (click)="check()">
								<ion-ripple-effect></ion-ripple-effect>
								Continuar
							</ion-button>
						</ion-col>
					</ion-row>
					<ion-row [class.buttonValid]="signUpForm.valid" [class.buttonInvalid]="!signUpForm.valid">
						<ion-col size="7" push="2.5">
							<ion-text color="primary">
								<p>Ao clicar em 'Continuar' você concorda com nossos <a href="#">Termos de uso</a> e <a href="#">políticas de privacidade</a>.</p>
							</ion-text>
						</ion-col>
					</ion-row>
				</form>
			</ion-grid>
		</ion-slide>
	</ion-slides>
</ion-content>
