<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{store.store_displayname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/store-details', store.store_id]">
        <ion-icon color="primary" slot="icon-only" src="../../../assets/icons/store-light.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div search>
    <ion-searchbar searchIcon="../../../assets/icons/search-solid.svg" placeholder="Pesquisar em {{store.store_displayname}}"></ion-searchbar>
  </div>

  <div class="category">
    <ion-text color="primary">
      <p>Frutas</p>
    </ion-text>
  </div>
</ion-content>
