:host {
	div[search] {
    background-color: var(--ion-color-white) !important;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  ion-searchbar {
    --color: var(--ion-color-primary);
    --icon-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --background: var(--ion-color-white);
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    height: 40px;
  }
  ion-list.category {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: var(--ion-color-white) !important;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    padding-top: 12px;
    padding-bottom: 0px;
    ion-list-header {
      p {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
      }
    }
    ion-list {
      margin-bottom: 0;
      ion-item {
        ion-avatar {
          --size: 48px;
          margin: 0 !important;
        }
        img {
          width: 90%;
        }
        --padding-start: 0px;
        ion-text.text {
          p.name {
            color: var(--ion-color-dark);
            text-transform: capitalize;
            width: 100%;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
          }
          p.subtitle {
            color: var(--ion-color-medium);
            width: 100%;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: break-word;
          }
        }
        ion-text.price {
          p {
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }
}