<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{store.store_displayname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/store-details', store.store_id]">
        <ion-icon color="primary" slot="icon-only" src="../../../assets/icons/store-light.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="crescent"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div search>
    <ion-searchbar (click)="search()" searchIcon="../../../assets/icons/search-solid.svg" placeholder="Pesquisar em {{store.store_displayname}}"></ion-searchbar>
  </div>

  <ion-virtual-scroll [items]="categories" approxItemHeight="400px">
    <ion-list class="category" *virtualItem="let category">
      <ion-list-header>
        <ion-text color="primary">
          <p>{{category.category_name}}</p>
        </ion-text>
      </ion-list-header>
      <ion-list lines="full">
        <ion-item *ngFor="let item of category.items" [routerLink]="['/item-details', item.item_id]" detail="false">
          <ion-avatar slot="start">
            <img [src]="item.item_imageurl" alt="">
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="5" push="0.5" class="ion-align-self-center">
                <ion-text class="text ion-text-start">
                  <p class="name">{{item.item_name}}</p>
                </ion-text>
              </ion-col>
              <ion-col size="6" push="0.5" class="ion-align-self-center">
                <ion-text class="price ion-text-end">
                  <p>{{item.item_price}}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item  [routerLink]="['/store', store.store_id, 'category', category.category_id]">
          <ion-grid>
            <ion-row class="ion-text-end">
              <ion-col class="ion-align-self-center">
                <ion-text color="medium">
                  <p class="subtitle">Ver mais</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-virtual-scroll>

</ion-content>
