<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let order of orders" detail="false" routerLink="/order-details/{{order.id}}">
      <ion-icon color="primary" src="../../assets/icons/utensils-solid.svg" slot="start"></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>{{order.store}}</h3>
              </ion-text>
              <ion-text>
                <p>{{order.items}} itens</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col class="text-end">
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>{{order.price}}</h3>
              </ion-text>
              <ion-text color="primary">
                <p>{{order.date}}</p>
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
