<ion-content>
  <ion-slides pager="true">
    <ion-slide slide1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="../../assets/img/intro1.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row padding-top>
          <ion-col>
            <ion-text>
              <h1>Bem vindo ao Skeelo!</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              <p>Amamos ter você por aqui ♥</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide slide2>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="../../assets/img/intro2.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row padding-top>
          <ion-col>
            <ion-text>
              <h1>Com o Skeelo...</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              <p>Você pode pedir uma simples maçã...</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide slide3>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="../../assets/img/intro3.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row padding-top>
          <ion-col>
            <ion-text>
              <h1>Ou um monte de coisas!</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
              <p>É só escolher!</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide slide4>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="block" routerLink="/login">
              <ion-ripple-effect></ion-ripple-effect>
              Eu já tenho uma conta!
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button size="block" routerLink="/sign-up">
              <ion-ripple-effect></ion-ripple-effect>
              Quero criar minha conta agora!
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
