<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{card.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-text color="primary">
                <h3>Número do cartão</h3>
              </ion-text>
            </ion-label>
            <ion-input disabled value="&bull;&bull;&bull;&bull; {{card.last_numbers}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <form [formGroup]="cardForm">

        <!-- VALIDADE E CVV-->
        <ion-row>
          <ion-col>
            <ion-item [class.invalid]="!cardForm.controls.exp_date.valid && cardForm.controls.exp_date.dirty" [class.valid]="cardForm.controls.exp_date.valid && cardForm.controls.exp_date.dirty">
              <ion-label position="stacked">
                <ion-text color="primary">
                  <h3>Validade</h3>
                </ion-text>
              </ion-label>
              <ion-input inputmode="numeric" formControlName="exp_date" [brmasker]="{mask: '00/00', type:'num', len:'5'}" placeholder="MM/YY"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item [class.invalid]="!cardForm.controls.cvv.valid && cardForm.controls.cvv.dirty" [class.valid]="cardForm.controls.cvv.valid && cardForm.controls.cvv.dirty">
              <ion-label position="stacked">
                <ion-text color="primary">
                  <h3>CVV</h3>
                </ion-text>
              </ion-label>
              <ion-input inputmode="numeric" formControlName="cvv" [brmasker]="{type:'num', len:'4'}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="(!cardForm.controls.exp_date.valid && cardForm.controls.exp_date.dirty) || (!cardForm.controls.cvv.valid && cardForm.controls.cvv.dirty)">
          <ion-col *ngIf="!cardForm.controls.exp_date.valid && cardForm.controls.exp_date.dirty">
            <ion-item lines="none">
              <p class="invalidmessage">Insira uma data válida.</p>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="!cardForm.controls.cvv.valid && cardForm.controls.exp_date.valid && cardForm.controls.cvv.dirty" push="6" size="6">
            <ion-item lines="none">
              <p class="invalidmessage">Insira um número de 3-4 dígitos.</p>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="!cardForm.controls.cvv.valid && !cardForm.controls.exp_date.valid && cardForm.controls.cvv.dirty">
            <ion-item lines="none">
              <p class="invalidmessage">Insira um número de 3-4 dígitos.</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- NOME DO TITULAR -->
        <ion-row>
          <ion-col>
            <ion-item [class.invalid]="!cardForm.controls.holder.valid && cardForm.controls.holder.dirty" [class.valid]="cardForm.controls.holder.valid && cardForm.controls.holder.dirty">
              <ion-label position="stacked">
                <ion-text color="primary">
                  <h3>Nome do titular</h3>
                </ion-text>
              </ion-label>
              <ion-input formControlName="holder"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!cardForm.controls.holder.valid && cardForm.controls.holder.dirty">
          <ion-col>
            <ion-item lines="none">
              <p class="invalidmessage">Insira nome e sobrenome.</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- CPF -->
        <ion-row>
          <ion-col>
            <ion-item [class.invalid]="!cardForm.controls.cpf.valid && cardForm.controls.cpf.dirty" [class.valid]="cardForm.controls.cpf.valid && cardForm.controls.cpf.dirty">
              <ion-label position="stacked">
                <ion-text color="primary">
                  <h3>CPF</h3>
                </ion-text>
              </ion-label>
              <ion-input inputmode="numeric" formControlName="cpf" [brmasker]="{mask: '000.000.000-00', type:'num', len:'14'}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!cardForm.controls.cpf.valid && cardForm.controls.cpf.dirty">
          <ion-col>
            <ion-item lines="none">
              <p class="invalidmessage">Insira um número de CPF válido.</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- NOME DO METODO -->
        <ion-row>
          <ion-col>
            <ion-item [class.invalid]="!cardForm.controls.method_name.valid && cardForm.controls.method_name.dirty" [class.valid]="cardForm.controls.method_name.valid && cardForm.controls.method_name.dirty">
              <ion-label position="stacked">
                <ion-text color="primary">
                  <h3>Nome do método</h3>
                </ion-text>
              </ion-label>
              <ion-input formControlName="method_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!cardForm.controls.method_name.valid && cardForm.controls.method_name.dirty">
          <ion-col>
            <ion-item lines="none">
              <p class="invalidmessage">Insira um nome válido. Ex: "Cartão do Skeelo"</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- BOTOES -->
        <ion-row padding-top>
          <ion-col>
            <ion-button color="danger" size="block" (click)="delete()">
              <ion-ripple-effect></ion-ripple-effect>
              Excluir
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" size="block" [disabled]="!cardForm.valid" (click)="save()">
              <ion-ripple-effect></ion-ripple-effect>
              Salvar
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>
