:host {
  ion-toolbar {
    -webkit-padding-start: 0px;
    -webkit-padding-end: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    ion-button {
      --padding-start: 0px;
      ion-icon {
        font-size: 25px;
      }
    }
  }
  ion-searchbar {
    --color: var(--ion-color-primary);
    --icon-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --background: var(--ion-color-white);
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    height: 40px;
  }
  ion-list {
    ion-item {
      ion-grid {
        padding: 0;
        ion-col {
          padding: 0;
        }
      }
      ion-text {
        p.name {
          color: var(--ion-color-dark);
          text-transform: capitalize;
          width: 100%;
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          word-wrap: break-word;
        }
        p.price {
          font-weight: 500;
          margin: 0;
        }
        p.store {
          color: var(--ion-color-medium);
          text-transform: uppercase;
          width: 100%;
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          word-wrap: break-word;
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
  }
}