<ion-content>
  <div>
    <ion-item lines="none" color="primary" toolbar>
      <ion-icon color="white" slot="start" src="../../assets/icons/chevron-left-solid.svg" routerLink="/tabs/settings"></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="8" push="2">
          <h2>Amaríamos ter você conosco!</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col icon>
          <ion-icon src="../../assets/icons/hands-helping-light.svg" color="white"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="white" size="block">
            <ion-ripple-effect>
              <ion-text color="primary">
                Quero ser um Parceiro!
              </ion-text>
            </ion-ripple-effect>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
