<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let option of menu" detail="true" routerLink="{{option.routerLink}}" detailIcon="../../../assets/icons/chevron-right-solid.svg">
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{option.name}}</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item color="graybg" lines="none">
      <ion-label>
        <ion-text color="medium">
          <h3>Versão 1.0.0</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
