:host {
  ion-list {
    margin-bottom: 0;
    ion-item {
      ion-avatar {
        --size: 48px;
      }
      img {
        width: 90%;
      }
      ion-text.text {
        p.name {
          color: var(--ion-color-dark);
          text-transform: capitalize;
          width: 100%;
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          word-wrap: break-word;
        }
      }
      ion-text.price {
        p {
          font-weight: 500;
          margin: 0;
        }
      }
    }
    ion-thumbnail {
      --size: 20%;
      margin-left: 40%;
      margin-right: auto;
    }
  }
}