<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list lines="full" *ngIf="showOrders == true">
    <ion-virtual-scroll [items]="orders">
      <ion-item *virtualItem="let order" detail="false" [routerLink]="order.order_progress == 4 ? ['/order-details', order.order_id] : ['/order-progress', order.order_id]">
        <ion-icon [color]="order.order_progress == 4 ? 'primary' : 'danger'" src="../../../assets/icons/utensils-solid.svg" slot="start"></ion-icon>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                  <h3>{{order.store_name}}</h3>
                </ion-text>
                <ion-text color="dark" *ngIf="order.order_progress == 4">
                  <p *ngIf="order.order_items == 1">{{order.order_items}} item</p>
                  <p *ngIf="order.order_items > 1">{{order.order_items}} itens</p>
                </ion-text>
                <ion-text color="danger" *ngIf="order.order_progress != 4">
                    <p>Pedido em andamento</p>
                  </ion-text>
              </ion-label>
            </ion-col>
            <ion-col class="text-end">
              <ion-label class="ion-text-wrap">
                <ion-text color="primary">
                  <h3>{{order.order_price}}</h3>
                </ion-text>
                <ion-text color="dark">
                  <p>{{order.order_date}}</p>
                </ion-text>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
  <div *ngIf="showOrders == false">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1>Oops...</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <p translucent>Parece que você ainda não realizou um pedido.</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon no-button src="../../../assets/icons/frown-regular.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
