:host {
  ion-item {
    --min-height: 48px !important;
    ion-text {
      font-weight: 500 !important;
    }
    ion-icon {
      font-size: 1.3em;
    }
  }

  div.search {
    background-color: var(--ion-color-white) !important;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  ion-searchbar {
    --color: var(--ion-color-primary);
    --icon-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --background: var(--ion-color-white);
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    height: 40px;
  }

  div.margin-top {
    background-color: var(--ion-color-white) !important;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      color: rgba(var(--ion-color-purple-rgb), 0.75);
    }
    ion-grid, ion-row, ion-col {
      padding: 0;
    }
    ion-button {
      width: 100%;
      height: 128px;
      font-size: 22px;
    }
    ion-button.margin-right {
      margin-right: 6.5px;
      margin-left: 0;
    }
    ion-button.margin-left {
      margin-left: 6.5px;
      margin-right: 0;
    }
  }

  div.promotions {
    background-color: var(--ion-color-white) !important;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600; 
      -webkit-padding-start: 16px;
    }
    ion-slide {
      height: 128px;
      font-size: 22px;
      margin-top: 12px;
      -webkit-margin-start: 16px;
      border-radius: 4px;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-white);
      font-weight: 600;
    }
  }

  div.lastOrder {
    padding-bottom: 12px;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    margin-top: 12px;
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600; 
    }
    ion-card {
      margin: 0;
      margin-top: 12px;
      ion-item {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: var(--ion-color-white);
        h3 {
          font-weight: 600;
          font-size: 16px;
        }
        p {
          font-weight: 400;
        }
        ion-label {
          margin-left: 12px;
        }
      }
    }
  }
}