:host {
	ion-item {
		border-bottom: 0.5px;
		--min-height: 48px;
		
	}
	ion-button.is-icon {
		--padding-start: 4px !important;
		--padding-end: 4px !important;
		ion-icon {
			font-size: 16px !important; 
		}
	}
	p.price {
		font-weight: 500;
	}
	div {
    background-color: var(--ion-color-white);
    text-align: center;
    padding-top: 12px;
    -webkit-padding-start: 16px;
    -webkit-padding-end: 16px;
    padding-bottom: 12px;
		h1, p[translucent] {
			margin: 0;
			color: rgba(var(--ion-color-primary-rgb), 0.75);
			width: auto;
			margin-left: 0%;
			text-align: center;
		}
		p {
			margin: 0;
			padding-bottom: 12px;
		}
		ion-grid, ion-col, ion-row {
			padding: 0;
		}
		ion-icon[no-button] {
			font-size: 120px;
			color: rgba(var(--ion-color-primary-rgb), 0.75);
		}
  }
}