<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Métodos de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let method of methods" detail="true" detailIcon="../../assets/icons/chevron-right-solid.svg" routerLink="/edit-payment-method/{{method.id}}">
      <ion-icon color="primary" src="../../assets/icons/{{method.icon}}.svg" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{method.name}}</h3>
        </ion-text>
        <ion-text color="medium">
          <p>&bull;&bull;&bull;&bull; {{method.last_numbers}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail="true" detailIcon="../../assets/icons/plus-solid.svg" routerLink="/add-payment-method">
      <ion-icon color="primary" src="../../assets/icons/money-check-alt-solid.svg" slot="start"></ion-icon>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>Novo método</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
