<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-searchbar [(ngModel)]="search" searchIcon="../../../../assets/icons/search-solid.svg" placeholder="Pesquise por estabelecimentos" (ionChange)="filter()"></ion-searchbar>
  </div>
  <div class="margin-top">
    <ion-list>
      <ion-virtual-scroll [items]="stores">
        <ion-item *virtualItem="let store" [routerLink]="['/store', store.store_id]">
          <ion-avatar item-left>
            <img src="{{store.store_imageurl}}" alt="">
          </ion-avatar>
          <p>{{store.store_displayname}}</p>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
  </div>
</ion-content>
