<ion-header>
  <ion-item lines="none">
    <ion-icon color="primary" slot="start" src="../../assets/icons/user-circle-solid.svg" [routerLink]="['/profile', user.user_id]"></ion-icon>
    <ion-label>
      <ion-text color="primary" [routerLink]="['/profile', user.user_id]">
        {{user.user_name}}
      </ion-text>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div search>
    <ion-searchbar searchIcon="../../assets/icons/search-solid.svg" placeholder="Pesquise qualquer coisa"></ion-searchbar>
  </div>

  <div margin-top>
    <ion-text color="purple">
      <p>Escolha por onde começar</p>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="purple" margin-right>
            <ion-ripple-effect></ion-ripple-effect>
            Produtos
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="purplelight" margin-left>
            <ion-ripple-effect></ion-ripple-effect>
            Mercados
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div promotions>
    <ion-text color="primary">
      <p>Promoções perto de você</p>
    </ion-text>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of promotions" routerLink="{{item.routerLink}}">
        <ion-text>
          {{item.text}}
        </ion-text>
      </ion-slide>
    </ion-slides>
  </div>

  <div lastOrder *ngIf="showLastOrder == true">
    <ion-text color="primary">
      <p>Seu último pedido</p>
    </ion-text>
    <ion-card  [routerLink]="['/order-details', lastOrder.order_id]">
      <ion-item lines="none">
        <ion-img src="../../assets/img/figure.png"></ion-img>
        <ion-col>
          <ion-label color="primary">
            <ion-text text-wrap>
              <h3>{{lastOrder.order_storeName}}</h3>
            </ion-text>
            <ion-text>
              <p>{{lastOrder.order_date}}</p>
            </ion-text>
            <ion-text>
              <p *ngIf="lastOrder.order_items == 1">{{lastOrder.order_items}} item</p>
              <p *ngIf="lastOrder.order_items > 1">{{lastOrder.order_items}} itens</p>
            </ion-text>
          </ion-label>
        </ion-col>
        <ion-col class="text-end">
          <ion-label>
            <ion-text color="primary">
              {{lastOrder.order_price}}
            </ion-text>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
