<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Pedido {{order.order_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="crescent"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="alert">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="white" class="ion-text-center">
            <p class="title">Seu pedido foi realizado!</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-text color="white">
            <p class="text">O estabelecimento está preparando seu pedido. Fique atento ao seu smartphone que você será notificado quando o pedido estiver pronto!</p>
          </ion-text>
        </ion-col>
        <ion-col size="3">
          <ion-icon src="../../../assets/icons/mobile-signal-stream.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="details">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text>
                    <p>Seu pedido está previsto para:</p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text color="primary">
                    <p class="hour">19:30</p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-grid class="info">
              <ion-row>
                <ion-col>
                  <ion-text color="primary">
                    <p class="semibold">Retirada em:</p>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text *ngIf="store_location.location_address && store_location.location_number">
                    <p>{{store_location.location_address}}, {{store_location.location_number}}</p>
                  </ion-text>
                  <ion-skeleton-text *ngIf="!store_location.location_address && !store_location.location_number" animated style="width: 50%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-text *ngIf="store_location.location_neighbourhood && store_location.location_city && store_location.location_province">
                    <p>{{store_location.location_neighbourhood}} - {{store_location.location_city}}/{{store_location.location_province}}</p>
                  </ion-text>
                  <ion-skeleton-text *ngIf="!store_location.location_neighbourhood && !store_location.location_city && !store_location.location_province" animated style="width: 45%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9">
                  <ion-text *ngIf="order.order_store.store_displayname">
                    <p class="semibold">{{order.order_store.store_displayname}}</p>
                  </ion-text>
                  <ion-skeleton-text *ngIf="!order.order_store.store_displayname" animated style="width: 50%"></ion-skeleton-text>
                </ion-col>
                <ion-col size="3">
                  <ion-text color="primary">
                    <p>Ligar</p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="progress">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-wrap" color="primary">
            <p class="title">Status</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-progress-bar value="{{progress}}" buffer="{{progress}}"></ion-progress-bar>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-text color="primary"*ngIf="progressText" >
                  <p class="progressText">{{progressText}}</p>
                </ion-text>
                <ion-skeleton-text *ngIf="!progressText" animated style="width: 80%"></ion-skeleton-text>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="click">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
          <ion-text class="ion-text-center" color="primary" [routerLink]="['/order-details', order.order_id]">
            <p>Clique aqui para ver os detalhes do seu pedido.</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
