<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Preferências do App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item detail="false">
      <ion-icon color="primary" src="../../../assets/icons/moon-solid.svg" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Modo Noturno</h3>
        </ion-text>
      </ion-label>
      <ion-toggle color="primary" (ionChange)="toggle(darkMode)" [(ngModel)]="darkMode" name="darkMode"></ion-toggle>
    </ion-item>
    <ion-item *ngFor="let option of menu" detail="true" routerLink="{{option.routerLink}}" detailIcon="../../../assets/icons/chevron-right-solid.svg">
      <ion-icon color="primary" src="../../../assets/icons/{{option.icon}}.svg" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{option.name}}</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item detail="false" (click)="logout()">
      <ion-icon color="primary" src="../../../assets/icons/sign-out-alt-solid.svg" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>Sair</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
